doctype html
html
    head
    script(src='https://unpkg.com/axios/dist/axios.min.js')  
    script(src='../../util/curd.js') 
    script(src='../../util/projectCrud.js') 
    script(src='../../util/helper.js') 
    
    link(rel="stylesheet" type="text/css" href="../../styles/styles.css")
body     
    div
        a( href='/signout')="Sign out"          
    div 
        ul                        
            li
                a( href="/api/projects/getprojects")='Show all projects' 
            
block content
            div#project-mgmt-form-wrapper   