doctype html
html
    head
    script(src='https://unpkg.com/axios/dist/axios.min.js')  
    script(src='../../util/curd.js') 
<<<<<<< HEAD
    link(rel="stylesheet" type="text/css" href="../../styles/styles.css")
=======
    link(rel="stylesheet" type="text/css" href="../../styles/styles.css")  
>>>>>>> c0aedd4f16286f33080b040e8311c12f7d6ad217
body     
    div
        a( href='/signout')="Sign out"          
    div 
        ul
            li  
                a( href='/api/projects/project')='New project'            
            li
                a( href="/api/projects/getprojects")='All project'  

block content
