doctype html
html
    head
    script(src='https://unpkg.com/axios/dist/axios.min.js')  
    script(src='../../util/curd.js') 
    script(src='../../util/helper.js')     
    link(rel="stylesheet" type="text/css" href="../../styles/styles.css")  
    link(rel="stylesheet" type="text/css" href="../../styles/login.css")    
    body    
        block content