
<!doctype html>
<html>
<head>
    <title>Issue tracker login</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    
</head>

<body>
<div>
    <form method="post">      
        
            <label>username</label><input id="email" type="email" name="email"/>
            <label>password</label><input id="password" type="password" name="password"/>
            <button id="submit">submit</button>
       
    </form>
    <script>
   



        const requestToken = (userData) =>{           
                 axios.post('/api/users/login', userData)
                    .then( response => {
                        // const addedUser = response.data;
                        const { token, project , expiresIn } = response.data;
                        console.log("POST: user is added", token);  

                                            
                        localStorage.setItem('jwtToken', token);
                        //localStorage.setItem('expiresIn', JSON.stringify(expiresIn.valueOf()));
                        setAuthToken(token);
                        // getUserProjects(token)
                        window.location.replace( response.data.redirect);
                       
                        // axios.get('api/projects/my-project')
                        // document.location = project;
                        
                        
                    }).catch(error => console.log(error))
            
        }

        
        const form = document.querySelector('form');

            const formEvent = form.addEventListener('submit', event => {
            event.preventDefault();

            const email = document.querySelector('#email').value;
            const password = document.querySelector('#password').value;

            const user = { email, password };
            requestToken(user);
           
        })


        const setAuthToken = (token) => {
           
            if( token ){
                axios.defaults.headers.common['Authorization'] = token;
               
            } else{
                delete axios.defaults.headers.common['Authorization'] 
            }
         
        };

        function getUserProjects(){
             
                
        
        }

    </script>
</div>
</body>
</html>
