extends layout
block content     
    div#login-form-wrapper
        h1='LOGIN'
        form.login-form(action="/api/users/login" method="post" )    
            label( username)="username "
            input( id="email" type="email" name="email" placeholder="john@example.com")
            br
            br
            label(password )="password "
            input( id="password" type="password" name="password" )
            br
            br
            div.submit-btn-wrapper
                button( id="submit")='submit'   

        //- script.
        //-     const requestToken = (userData) =>{           
        //-             axios.post('/api/users/login', userData)
        //-                 .then( res => {
        //-                     // const addedUser = response.data;
        //-                     //- const { token, project , expiresIn } = res.data;
        //-                     const { success, token } = res.data;   
                           
        //-                     //- setAuthToken( token );                           
        //-                     //- window.location.replace( res.data.redirect);  
                          
        //-                     if( success ){
        //-                         //-  getProjectDashboard(token);  
        //-                     }
                        
                               
                            
        //-                 }).catch(error => console.log(error))
                
        //-     }

        
        //-         const form = document.querySelector('form');
        //-         const formEvent = form.addEventListener('submit', event => {
        //-         event.preventDefault();

        //-         const email = document.querySelector('#email').value;
        //-         const password = document.querySelector('#password').value;                
        //-         const user = { email, password };
        //-         console.log( user)
        //-         requestToken(user);
            
        //-     })

        //-     const getProjectDashboard = ( token ) => {            
                    
        //-             axios.get('api/projects/',{
        //-                 headers:{
        //-                     'Authorization':token
        //-                 }
        //-             })
        //-             .then( res => res.render( res.data ))
        //-             .catch( err => console.log(err));
        //-     }


            const setAuthToken = (token) => {
            
                if( token ){
                    axios.defaults.headers.common['Authorization'] = token;
                   
                
                } else{
                    delete axios.defaults.headers.common['Authorization'] 
                }
            
            };

        

   
