extends dashboard
block content  
  div 
        h3 Create a new project
        brbr
            form(method="post")    
            label Project name 
            input( id="projectName" type="text" name="projectName")
            br
            br
            label project description 
            input( id="projectDesc" type="text" name="projectDesc")
            br
            br
            input( type="submit" id="project_submit"  value="submit"  ) 
            br
            br   