extends layout    
block content    
    link(rel="stylesheet" type="text/css" href="../../styles/project-form.css")  
    h1='Add New Project'  
    div#project_form_wrapper
        label#project_name( projectName )="Project Name "
        input( id="projectName" type="text" name="project_name")
        br
        br
        label(projecDesc )="Project Description "
        input( id="projectDesc" type="text" name="project_description" )
        br
        br
        div.submit-btn-wrapper
            button#project_submit(name='submit' onclick='submitProject()')="submit"
