extends dashboard    
block content    
    link(rel="stylesheet" type="text/css" href="../../styles/project-form.css")  
    h1='Add New Project'  
    form.project_form(action="/api/projects/newproject" method="post")    
        label#project_name( projectName )="Project Name "
        input( id="projectName" type="text" name="project_name")
        br
        br
        label(projecDesc )="Project Description "
        input( id="projectDesc" type="text" name="project_description" )
        br
        br
        div.submit-btn-wrapper
            button#project_submit="submit"  
          
        