extends dashboard
block content    
    h1='Add New Project'  
    form(action="/api/projects/newproject" method="post")    
        label( projectName )="Project Name "
        input( id="projectName" type="text" name="project_name")
        br
        br
        label(projecDesc )="Project Description "
        input( id="projectDesc" type="text" name="project_description" )
        br
        br
        input( type="submit" id="project_submit"  value="submit"  ) 

        