<<<<<<< HEAD
#issue-form-wrapper{
    width: fit-content; 
    margin: 12px;
    background-color: lightblue;
    padding: 15px 20px;
}

=======
>>>>>>> c0aedd4f16286f33080b040e8311c12f7d6ad217
#issue_title_label{
    margin-right: 22px;
}

#status_label, #open_checkbox_label{
    margin-right: 55px;
}

<<<<<<< HEAD
#open{
=======
#open_checkbox{
>>>>>>> c0aedd4f16286f33080b040e8311c12f7d6ad217
    width: 50px;
}

input,select{
    margin: 8px 0;
}

button{
    margin: 10px;
}