#login-form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    width: fit-content;
    border-radius: 0.5em;
    margin: 15em auto;
    min-width: 22em;
    /* height: 15em; */
}
<<<<<<< HEAD
=======



>>>>>>> c0aedd4f16286f33080b040e8311c12f7d6ad217
