body {
    background-color: #f0f0f2;
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}


form{    
    width: fit-content; 
    margin: 12px;
    background-color: lightblue;
    padding: 15px 20px;
}

label{
    margin: 0 12px;
}

input{
    height: 30px;
    width: 15em;
    border-radius: 5px;
    border: none;
    padding: 0px 5px;
}

button{
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.submit-btn-wrapper{
    display: flex;
    justify-content: end;
    
}

@media (max-width: 700px) {
    div {
        margin: 0 auto;
        width: auto;
    }
}